---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hola, soy Sergio <a href="https://www.linkedin.com/in/sergio-gonzalez-dev" target="_blank" rel="noopener" class="justify-center items-center"><Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-xl opacity-80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius minima ipsum exercitationem provident libero. Possimus voluptatibus facilis totam vitae modi dolorem distinctio nesciunt inventore sunt quos, harum quaerat quidem explicabo!
			Vitae recusandae delectus provident, ducimus praesentium laboriosam tenetur, nesciunt, quae fugit ratione aut vero libero laborum culpa dolores quo beatae tempore voluptate deserunt officiis doloribus? Minima assumenda quasi nisi sint!</h2>

			<ul></ul>
		</section>
	</main>
</Layout>
