---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialMedia from '../components/icons/SocialMedia.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
title="Portafolio Web Sergio González - Desarrollador y Programador Web"
description="Portafolio Web Desarrollador y Programador con proyectos que demuestran conocimientos claves en el mundo del desarrollo web."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img 
			class="rounded-full size-12 mb-4" 
			src="https://i.ibb.co/X2bmhY9/Sergio.jpg" alt="mi foto">
			<h1 
			class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola, soy Sergio
			<a 
			href="https://www.linkedin.com/in/sergio-gonzalez-dev" 
			target="_blank" 
			rel="noopener" 
			class="justify-center items-center">
			<Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius minima ipsum exercitationem provident libero. Possimus voluptatibus facilis totam vitae modi dolorem distinctio nesciunt inventore sunt quos, harum quaerat quidem explicabo!</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialMedia href="https://www.linkedin.com/in/sergio-gonzalez-dev">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn
				</SocialMedia>
				<SocialMedia href="https://github.com/ChechoDevCode">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialMedia>
				<SocialMedia href="mailto:sergio_gonzalez_17@hotmail.com">
					<MailIcon class="size-4 md:size-6"/>
					sergio_gonzalez_17@hotmail.com
				</SocialMedia>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia" >
			<h2 class="text-3xl fot-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos" >
			<h2 class="text-3xl fot-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
